@import url('https://fonts.googleapis.com/css?family=Space+Grotesk');

:root {
  --active-input-border: linear-gradient(#6448fe, #600594);
  --input-errors: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --hover-btn-violet: hsl(278, 52%, 18%);
}

* {
  font-family: 'Space Grotesk';
  font-size: 18px;
  font-weight: 500;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  box-sizing: border-box;
}